*
{
    color:red;
}
body
{
    background-image:url(img/gun-gale-online-kirito-sinon-anime-sword-art-online-2-photo-1366x768.jpg);
        background-repeat: no-repeat;
            background-size: cover;
}
